html{
    font-family: 'Courier New', sans-serif;
}

body{
    background-color: #ffffff;
}

header{
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
}

nav{
    background-color: #ffffff;
}

#header-logo{
    max-width: 100%;
    height: auto;
}

#logo-and-menu{
    display: flex;
}

#menu{
    border-left: 2px solid red;
    color: red;
    font-weight: bold;
    text-transform: uppercase;
}

#main-navigation{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
}

#main-articles{
    display: grid;
    grid-gap: 30px;
    background-color: #ffffff;
    padding: 30px;
}

#top-videos, #cbc-gem{
    background-color: #363636;
}

#cbc-news, #live-radio{
    background-color: #e5e5e5;
}

#my-local, #featured, #must-watch, #more-from-cbc{
    background-color: #ffffff;
}

#top-videos-articles, #cbc-news-articles, #my-local-articles, #featured-articles, #cbc-gem-articles, #must-watch-articles, #more-from-cbc{
    display: grid;
    grid-gap: 30px;
    padding: 30px;
}

#wrapper{
    background-color: #e5e5e5;
    max-width: 1300px;
    margin: auto;
} 

.nav-item{
    font-weight: 800;
    padding: 10px;
}

.advertisement{
    display: flex;
    background-color: #e5e5e5;
    height: 82px;
    border: 3px solid black;
    margin: 16px;
}

.ad-text{
    font-size: 30px;
}

.individual-article{
    border: 1px solid grey;
    background-color: #ffffff;
}

.article-img{
    max-width: 100%;
}

article > h1, h2, h3, p{
    padding: 15px;
}

.promotional-content{
    background-color: #ffffff;
}

.promotional-content-item{
    margin: 0px 30px;
    border: 1px solid grey;
    background-color: #ffffff;
}

.heading-dark-background{
    color: #ffffff;
    margin: 0px;
    padding-bottom: 0px;
}

.heading-light-background{
    margin: 0px;
    padding-bottom: 0px;
}

.misc-text{
    margin: 0px;
    padding: 0px;
    padding-left: 15px;
}

.mini-picture-article{
    display: flex;
    border: 1px solid grey;
    background-color: #ffffff;
    justify-content: space-between;
}

.mini-img{
    width: 100px;
    height: 100px;
}